
<section class="header_area">
    <div class="header_navbar">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg">
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                            <ul id="nav" class="navbar-nav ml-auto">
                                <li class="nav-item ">
                                    <a class="page-scroll" href="/Admin">داشبورد</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="/Admin/NewsGroups/Index">مدیریت گروه اخبار</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="/Admin/News/Index">‌مدیریت اخبار</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="/Admin/Users/Index">‌مدیریت کاربران</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="/Admin/Comments/Index">مدیریت نظرات</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="/Account/LogOut">خروج</a>
                                </li>

                            </ul>
                        </div>

                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div id="home" class="header_slider">
        <div class="single_slider bg_cover d-flex align-items-center">
            <div class="container">
            </div>
        </div>
    </div>

</section>
